page-producto {
ion-title {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 90px 1px;
  width: 100%;
  height: 100%;
  text-align: center;
  background:  var(--light);
  color: var(--dark);
}
.masters {
  background-color: var(--gris)
}

}
